__pycache__/
*.py[cod]
*$py.class

*.so

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

profile_default/
ipython_config.py

.python-version

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.spyderproject
.spyproject

.ropeproject

/site


.mypy_cache/
.dmypy.json
dmypy.json


.pyre/


.vscode/
.idea/
*.swp
*.swo
*~


.DS_Store
Thumbs.db


testSub.ipynb
data/predictions.csv
models. testing without textstxt
model_rf.txt
model_comparison_results.csv
best_model_KNN.pkl
WinterProject gitignore.ipynb
288627.288651.pdf
sample_sumbission_random.csv
sample_sumbission_random.csv
test.csv
cella.py
submission colab.csv
api_key.txt
words_in_6.txt
datetime_null_html_inspections.csv
idee_Paul.txt
health_news.csv
WinterProject Test Paul.ipynb
par_grid.py
report_exam_winter_2026.zip
DSL_Exam_2025-02.pdf